.modal-btn{
    background-color: #FEF7F7;;
}

.modal-dialog{
    max-width: none;
    width: 75%;
    margin: 0 auto;
}
.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
}

.item {
    border-radius: 8px;
    border: 0;
    background-color: white;
    height: 100px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}